$color-white: #ffffff;
$color-primary: #e66d2c;

$box-sizing: border-box;

$base-font-size: 10px;
$base-line-height: 20px;
$base-font-family: 'Open Sans',
Helvetica,
Arial,
sans-serif;

$normal: 400;
$light: 300;

$font-size-xs: 1.6rem;
$font-size-s: 2rem;
$font-size-m: 2.8rem;
$font-size-l: 4rem;
$font-size-xl: 5.4rem;

$mobile: '(min-width:360px)';
$tablet: '(min-width:768px)';
$desktop: '(min-width:1024px)';
$big-desktop: '(min-width:1400px)';